#contact-sidebar {
    background: #e2e0d7;
}
contact.htmlmedia="all"
#contact-sidebar {
    position: relative;
    width: 200px;
    float: left;
    padding: 20px 10px 20px 10px;
    -webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
    -o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
    box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}
	div.center-stack div.customer-reviews {
    margin-bottom: 40px;
}
	.fleft {
		float: left;
		margin-right: 20px;
		margin-top: 0;
		margin-bottom: 0px;
		border: 1px solid #af293c;
	}
	.img_inner {
		width:200px;
		height:130px;
		max-width: 100%;
		box-sizing: border-box;
		margin-bottom: 28px;
		position: relative;
	}
	
	
	.main-text{
		font-family:Palatino,Tahoma, Geneva, sans-serif;
		text-align:justify;
		padding:10px;
		line-height: 25px; 
		letter-spacing: 1.2px; 
	}
	
	.text-circle{
		text-align:center;
		color: antiquewhite;
	}
	
	.img-circles{
		width:28px;
		height:28px;
	}
	
	.img-box{
		max-width: 100%;
	}
	
	section .img-thumbnail{
		width:300px;
		height:250px;
	}
	.img-info{
		width:420px;
		height:270px;
	}
	
	.img-circle{
		width:140; 
		height:140;
	}
	
	.bio{
		width:130px;
		height:62px;
	}
	
	.newlog {
		width: 185px;
		height: 65px;
	}
	
	.lang{
		width:25px; 
		height:18px;
	}
	
	.line{
		width:192px; 
		height:30px;
	}
	
	.bird{
		width:68px; 
		height:36px;
	}
	
	.img-thumbnail pull-left{
		width:301; 
		height:242;
	}
	
	.btnBird{
		width:38;
		height:31;
	}
	
	.headLebal{
		font-family:Palatino,Tahoma, Geneva, sans-serif;
		text-align:center;
	}

	.breadcrumbs {
		text-align: right;
	}

	.text-center {
		text-align: center;
	}
	
	header h2{
		color:#F29820;
	}
	
	header h3{
		color:black;
	}
	
	.container h1{
		color:#F29820;
	}
	
	#main h2{
		color:#F29820;
	}
	
	footer h1, h2, h3 {
		color:#E1D8CF;
	}

	.intro-text {
		font-size: 1.25em;
		font-weight: 400;
		letter-spacing: 1px;
		color:black;
	}
	.background1{
		background: url(../../images/white2.jpg);
		background-size:95%;
		background-size: cover;
		
	}
	
	.background{
		background: url(../../images/white2.jpg);
		background-size:95%;
		background-size: cover;
		
	}
	
	.logo{
		 width:90px; 
		 height:40px;
	}
	
	h4, .h4 {
		font-size: 18px;
		color: black;
	}

/* --------------------------------------
   Contact Form 
   -------------------------------------- */
	.media-heading {
		padding-right: 90px;
		padding-left: 10px;
		color:#D1A68B;
		text-align:center;
	}
	
	
/* --------------------------------------
   Moreinfo
   -------------------------------------- */
	.nav>li>a {

 		line-height: 28px;
	}
	
	.navbar-inverse {
  		background: url(../../images/header_bg9.png) 0 0 repeat-x rgba(234, 232, 230, 0);
		z-index: 999;
	}
/* --------------------------------------
   Create Fonts
   -------------------------------------- */
   
  @font-face {
		font-family: 'brankovicregular';
		src: url('../fonts/fontsbrankovic-webfont.eot');
		src: url('../fonts/brankovic-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/brankovic-webfont.woff') format('woff'),
			 url('../fonts/brankovic-webfont.ttf') format('truetype'),
			 url('../fonts/brankovic-webfont.svg#brankovicregular') format('sv');
	}
	
	
	 @font-face {
		font-family: 'ClearSans-Regular';
		src: url('../fonts/ClearSans-Regular.eot');
		src: url('../fonts/ClearSans-Regular.woff') format('woff'),
         	 url('../fonts/ClearSans-Regular.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'Vonique';
		src: url('../fonts/Vonique 64.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'RECHTMAN';
		src: url('../fonts/RECHTMAN.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'Amperzand';
		src: url('../fonts/Amperzand.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'Calligraffiti';
		src: url('../fonts/Calligraffiti.ttf') format('truetype');
	}
	
	/* --------------------------------------
	Wine Introduction Panel - Tabs
	-------------------------------------- */
		.panel{
		  padding: 15px;
		  margin-top:20px;
		  margin-bottom: 20px;
		  background-color: #fff;
		  border: 1px solid #ddd;
		  border-radius: 4px;
		  opacity: 0.85;
		  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
		  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
		  -webkit-transition: all 0.5s;
		}
		
		.panel {
			-webkit-filter: grayscale(100%);
		}
	
		.panel:hover {
			padding: 15px;
			margin-top:20px;
			margin-bottom: 20px;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 4px;
			opacity:1;
			box-shadow: 0 1px 1px rgba(0,0,0,0.05);
			-webkit-filter: none;
		}
	
		.features {
			text-align: center;	
			font-weight: bold;
			line-height: 28px; 
			letter-spacing: 1px; 
			margin-top: 12px; 
			font-family: Palatino, serif;   
			text-align: center; 
			font-weight: normal; 
		}
		
		.features .panel-title {
			margin-top: 0;
			margin-bottom: 0;
			font-weight: bold;
			color: black;
		}
			 
		.features p{
			font-size:19px;
			text-decoration: none; 
		}
		
		.feature #tab1{
			color:black;
		}
		
		.feature #tab2{
			color:#AA041C;
		}
		
		.feature #tab3{
			color:#4A6331;
		}
			
		.features img {
			margin: -15px 5px 0 5px;
		}
	
	/* --------------------------------------
				Menu
	-------------------------------------- */
		.dropdown-menu {
		  position: absolute;
		  top: 100%;
		  left: 0;
		  z-index: 1000;
		  display: none;
		  float: left;
		  min-width: 160px;
		  padding: 5px 0;
		  margin: 2px 0 0;
		  list-style: none;
		  background-color: #481815;
		  border: 1px solid #ccc;
		  border: 1px solid rgba(0,0,0,0.15);
		  border-radius: 4px;
		  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
		  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
		  background-clip: padding-box;
		}
	
		.dropdown-menu>li>a {
		  display: block;
		  padding: 3px 20px;
		  clear: both;
		  font-weight: 600;
		
		  line-height: 1.428571429;
		  color: #DBD4CA;
		  white-space: nowrap;
		}
		
		.dropdown-header {
		  display: block;
		  padding: 3px 20px;
		
		  line-height: 1.428571429;
		  color: #9E643C;
		  font-weight: 800;
		}
		
		a {
		  color: #F2B85A;
		  text-decoration: none;
		}
		
		a:hover, a:focus {
		  color: #EBC5CA;
		  text-decoration: none;
		}
	
		/* --------------------------------------
	   More Info
	   -------------------------------------- */
		#divFooter {
		  	border-bottom-left-radius: 0px;
		  	border-bottom-right-radius: 0px;
		  	background-color: rgb(122, 12, 12);
		  	color: rgb(211, 211, 211);
		  	font-family: Actor, sans-serif;
		  	text-transform: none;
		 
		  	letter-spacing: 0px;
		  	line-height: 22px;
		  	background-image: url(tactile_noise.png);
		  	background-repeat: repeat repeat;
		}
	
	   
	   #moreinfo{
		 	padding: 32px 0px 30px 0px;
			margin-top: 50px;
	  		margin-bottom: 10px;
			margin-left: 20px;
	  		margin-right: 20px;
			opacity: 1;
	  		background: url(../../images/cont_bg.png) 0 0 repeat; 
	   }
	   
	   #contact-form{
			padding: 32px 80px 30px;
			margin-top: 80px;
	  		margin-bottom: 10px;
			margin-left: 20px;
	  		margin-right: 20px;
			opacity: 0.85;
	  		background: url(../../images/cont_bg.png) 0 0 repeat; 
	   }
	   
	   #contact-form h3 {
			text-align:center;
			font-weight:600;
			font-family: ClearSans-Regular;
	   	}
	   
		#moreinfo h3{
			text-align:center;
			font-weight:600;
			font-family: ClearSans-Regular;
		}
		
		.tabbable ul{
			font-family: ClearSans-Regular;
			font-size:15px;
		}
		
		.tab-content .text p{
			text-align:center;
			
			font-weight: 600;
			letter-spacing: 0.1px;
			padding: 0 0 10px 10px;
			color: rgb(158, 46, 38);	
		} 
		
		.tab-content #tab1 h1{
			color: rgb(10, 9, 7);
			font-family: ClearSans-Regular;
			font-size: 25px;
		}
		
		.tab-content #tab2 h1{
			color: rgb(112, 1, 8);
			font-family: ClearSans-Regular;
			font-size: 25px;
		}
		
		.tab-content #tab3 h1{
			color: rgb(26, 96, 34);
			font-family: ClearSans-Regular;
			font-size: 25px;
		}

/* --------------------------------------
   Introduction Box
   -------------------------------------- */
   
	body {
		color:#E1D8CF;
	}
	
	.well{
		margin-top:50px;
		margin-bottom:5px;
		background: #412611 url(../../images/pattern22.png) ;
		border: 1px solid black;
		opacity: 0.7;
		
	}
	
	.well .page-header {
		text-align:center;
		margin: 30px;
	}

	.well .page-header h1{
		font-size: 60px;
		line-height: 30px; 
		letter-spacing: 1.5px; 
		margin-top: 20px; 
		font-family: Vonique,'Book Antiqua', Palatino, serif; 
		color:rgb(173, 155, 44);
		text-align: center; 
		font-style: italic; 
		font-variant: small-caps;
	}
	
	.well .award{
		text-align:center;
		font-weight: 600;
		letter-spacing: 0.1px;
		padding: 0 0 10px 10px;
		font-size: 120%;
	}
	
	.well .text1{
		color:black;
	}
	
	/*.well .page-header{
		letter-spacing: 1.5px;  
		margin-top:0px;
		margin-bottom: 20px;
		font-family: 'Book Antiqua', Palatino, serif;
		font-weight: 700;
		color: #BDAB59;
		text-align: center; 
	}*/
	
	.lead{ 
		text-align: center;
		font-family: Palatino,Tahoma, Geneva, sans-serif;
		letter-spacing: 0.5px;
		color: white;
		font-size: larger;
	}
	
	.infoText{
		font-family: Palatino,Tahoma, Geneva, sans-serif;
		letter-spacing: 0.5px;
		color: white;
		font-size: larger;
	}
	
	
	
	.small{
		margin-top:10px;
		text-align: center;
  		font-family: Palatino,Tahoma, Geneva, sans-serif; 
		letter-spacing: 2px; 
		color:#E4DFCC;
		line-height: 30px; 
	}

	.tab-content p{
		color:#8F444C;
	} 
	
	div.img {
		content:url(../../images/labelogo.png);
		transform-origin: top center;
		-webkit-transform-origin: top center;
		-moz-transform-origin: top center;
		-ms-transform-origin: top center;
		animation: badge-swing 4s infinite;
		-webkit-animation: badge-swing 4s infinite;
		-moz-animation: badge-swing 4s infinite;
		-ms-animation: badge-swing 4s infinite;
	}
	
	.btn-warning {
		margin-top:10px;
		margin-bottom:35px;
		color: #fff;
		background-color:  #503D1C;
		border-color: #f0ad4e;
	}
	
	.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
		margin-top:10px;
		margin-bottom:35px;
		background-color: #675837;
		border-color: #B6102A;
	}
	.buttons{
		text-align: center;
	}
	
	
	.btn-primary {
  		color: #fff;
  		background-color: #3E0909;
 		border-color: #C5B96B;
	}
	
	.modal-body{
		
	}
	
	.modal-body b{
		text-align:right;
		color:#930;
	}
	
	.list2{
		text-align:left;
	}


/* --------------------------------------
   Navbar
   -------------------------------------- */
	
   .navbar-brand{
    	padding:8px 5px;
   }
   
   .navbar-inverse .navbar-nav>li>a {
  		color: #DBDBDB;
	}
	
	.btn-link {
		font-weight: normal;
		color: #C07C35;
		cursor: pointer;
		border-radius: 0;
	}
	
	/* --------------------------------------
   Map
   -------------------------------------- */
	
	.fluid-wrapper {
		position: relative;
		padding-bottom: 70.25%; /* 16:9 */
		height: 0;
	}
	
	.fluid-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
        border: none;
	}
	
/* --------------------------------------
   Socials
   -------------------------------------- */
	.socials  {
		text-align: center;
		float: right;
		padding-top: 18px;
		overflow: hidden;
		padding-right: 25px;
	}

	.socials a {
		display: block;
		float: left;
		width: 28px;
		background: url(../../images/Carousel_Large.png) 0 0 no-repeat;
		height: 28px;
	}

	.socials a+a {
		margin-left: 7px;
		background-position: -35px 0;
	}

	.socials a+a+a {
		background-position: -94px 0;
	}

	.socials a+a+a+a {
		background-position: -71px 0;
	}

	.socials a:hover {
		opacity: 0.7;
	}
	
	
	.img-left {
		float: left;
		margin-right: 25px;
	}
	
	p {
		margin: 0 0 10px;
		color:black;
	}
	

		
	/* --------------------------------------
				Footer
   -------------------------------------- */
		
	footer {
		background: #eee;
		background:#3A0E0A;
	}
	
	footer p {
		margin: 0;
		margin-top:10px;
		text-align:justify;
		color:#eee;
		padding: 5px 0;
	}
	
	footer #Bio{
		width:100px;
		height:30px;
	}
	
			body > .container {
          padding: 60px 15px 0;
        }
        .container .text-muted {
          margin: 20px 0;
        }

        footer > .container {
          padding-right: 15px;
          padding-left: 15px;
        }
		 code {
          font-size: 80%;
        }
		
		 footer .footer-below {
              background-color: #742017;
            }
	
	/* --------------------------------------
			Media Queries
   -------------------------------------- */

	/* Portrait & landscape phone */
	@media (max-width: 480px) {
		div.img {
			width:100px; 
			height:40px;
			content:url(../../images/logonew.png);
		}
		
		.nav>li>a {
			
			line-height: 28px;
		}
		
		#moreinfo {
		  padding: 32px 30px 30px 0px;
		  margin-top: 50px;
		  margin-bottom: 10px;
		  margin-left: 20px;
		  margin-right: 20px;
		  opacity: 1;
		  background: url(../../images/cont_bg.png) 0 0 repeat;
		}
		
		.tab-content p{
			
			font-weight: 600;
			letter-spacing: 0.1px;
			padding: 0 0 10px 10px;
		
		}
		
	}

	/* --------------------------------------
					Mobiles
	   -------------------------------------- */
   
	/* Landscape phone to portrait tablet */
	@media (max-width: 768px) {	
		.main-text{
		text-align:center;
		padding:10px;
		line-height: 25px; 
		letter-spacing: 1px; 
		}
		.navbar-inverse {
			background: url(../../images/header_bg9.png) 0 0 repeat-x #742432;
		}
		div.img {
			 width:150px; 
			height:50px;
			content:url(../../images/logonew.png);	
		}
	
		.well{
			padding-top: 20px;
			margin-top: 40px;
		}
		
		.tab-content p{
			text-align:center;
			font-weight: 600;
			letter-spacing: 0.5px;
			padding: 10px 0px 10px 1px;
		
		}
		
		#moreinfo {
		  padding: 32px 30px 30px 0px;
		  text-align:justify;
		  margin-top: 50px;
		  margin-bottom: 10px;
		  margin-left: 10px;
		  margin-right: 10px;
		  opacity: 1;
		  background: url(../../images/cont_bg.png) 0 0 repeat;
		}

		#contact-form {
		  padding: 32px 30px 30px;
		  margin-top: 50px;
		  margin-bottom: 10px;
		  margin-left: 20px;
		  margin-right: 20px;
		  opacity: 0.85;
		  background: url(../../images/cont_bg.png) 0 0 repeat;
		}
		

		
		footer {
              color: #fff;
            }
            footer h3 {
              margin-bottom: 30px;
            }
            footer .footer-above {
              padding-top: 50px;
              background-color: #3A0E0A;
            }
            footer .footer-col {
              margin-bottom: 50px;
            }
            footer .footer-below {
              padding: 25px 0;
              background-color: #742017;
            }
		}	

		
	}
	   
	.nav-tabs>li.active>a {
		font-size: 15px;
	}
	
		
	@media (max-width: 995px) {	
		
	}
	
	/* Large desktop */
	@media (min-width: 1200px) {
		
		
		.navbar-inverse {
			background: url(../../images/header_bg9.png) 0 0 repeat-x transparent;
		}
		.nav>li>a {
			
			line-height: 28px;
		}
		
		.well{
			margin-top:70px;
			margin-bottom: 20px;	
		}
		
			
		.well .lead{	   
			color: #E9E9EB;
			font: 400 36px/1.4 'cardo';
			font-style: italic;
			text-indent: -10px;
			line-height: 40px;
			margin: 100px 200px 100px 200px;
		}
		
		.tab-pane #text{
			padding: 10px 10px 30px 330px;
		}
		
		.tab-content p{
			
			font-weight: 600;
			letter-spacing: 0.3px;
			padding: 10px 0 10px 10px;
		
		}
		 
	   #moreinfo{
			/*padding: 32px 10px  30px;*/
			text-align:justify;
			margin-top: 70px;
			margin-bottom: 20px;
			margin-left: 20px;
			margin-right: 200px;
			opacity: 1;
			background: url(../../images/cont_bg.png) 0 0 repeat; 
	   }
		
		
		
		
	}

	@media only screen and (max-device-width: 1024px){	
		
		
		
		.nav>li>a {
			
			line-height: 28px;
		}
		
		.tab-pane #text{
			padding: 10px 10px 30px 330px;
		}
		
		.tab-content p{
		
		font-weight: 600;
		letter-spacing: 0.3px;
		padding: 0px 0 10px 10px;
		
		}
		 
	   #moreinfo{
		padding: 32px 10px  30px 0px;
		text-align: justify;
		margin-top: 100px;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 0px;
		opacity:1;
		background: url(../../images/cont_bg.png) 0 0 repeat;
	   }
	   
		h1, h2, h3, h4, h5, h6 {
			font-family: 'Corben', Georgia, Times, serif;
		}
		p, div {
			font-family: 'Nobile', Helvetica, Arial, sans-serif;
		}
	}
	
	@media screen
	
	.col {
		width: 220px;
	}
	.copy {
		background: #492A2A;
		color: #736657;
	}
	table, td, th {
		border: 1px solid black;
		text-align:center;
	}

	table {
		width: 100%;
	}

	th {
		text-align: center;
	}
		
	nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #AB051C;
	}